@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Source-Code-Pro;
    src: url(../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
  }
  
  body {
    color: black;
    /*background: rgb(164, 235, 164);*/
    background: linear-gradient(rgb(164, 235, 164), rgb(181, 209, 181), rgb(255, 255, 255));
    background-attachment: fixed;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  